<script setup lang="ts">
import { ComputedRef, computed } from 'vue'
import FrontBanner from '../components/FrontBanner.vue'
import { ACCOUNT } from '../services/Wallet'

const isConnected: ComputedRef<boolean> = computed(() => ACCOUNT.value !== '')
</script>

<template>
<front-banner v-if="!isConnected" />
</template>

<style scoped>

</style>