<script setup lang="ts">
import { connect } from '../services/Wallet'

</script>

<template>
    <div class="h-screen flex flex-col text-center justify-center items-center">
        <h1 class="lg:text-9xl sm:text-7xl text-5xl font-black mb-4">Obsidian</h1>
        <h2 class="lg:text-6xl sm:text-4xl text-3xl font-bold lg:mb-12 mb-8">The crypto portfolio tracker</h2>
        <button @click="connect" class="btn btn-outline font-bold lg:text-4xl sm:text-3xl text-2xl h-auto py-4 normal-case rounded-sm border-4">Connect Wallet</button>
    </div>    
</template>

<style scoped>

</style>